<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="company-info span4">
                <ul>
                    <li><a href="{{ site.url }}" class="company-name">Mideye AB</a></li>
                    <li>Drottninggatan 96</li>
                    <li>SE-111 60 Stockholm</li>
                </ul>
                <ul class="tel-fax-email">
                    <li>+46 (0)8 54514700</li>
                    <li><a href="mailto:info@mideye.com">info&#64;mideye&#46;com</a></li>
                </ul>
                <a class="android-app app-link"
                    href="https://play.google.com/store/apps/details?id=com.mideye.plusapp&hl=en"
                    target="_blank">Download Mideye+ for Android</a>
                <a class="iphone-app app-link"
                    href="https://itunes.apple.com/us/app/mideye+/id521987945?mt=8"
                    target="_blank">Download Mideye+ for iPhone</a>
            </div> <!-- /.span4 -->
            <div class="footer-map span8">
                <img src="{{ '/assets/images/mideye-map.png' | relative_url }}" alt="Mideye Map">
            </div> <!-- /.footer-map -->
            <div class="span12">
                <div class="company-description">
                    <p>&copy; {{ "now" | date: "%Y" }} Mideye AB</p>
                </div> <!-- /.company-description -->
            </div> <!-- /.span12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</footer>